/********************* WINDOW SIZER ************************/

html, body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
}

#app-container {
  height: 100%;
  width: 100%;
}

/********************* BANNER STYLE ************************/

#banner {
  width: 100%;
  height: 20%;
  text-align: center;
  font: 5vw bold Impact, Charcoal, sans-serif;
}

/********************** BOARD STYLE ************************/

.board-container {
  width: 50%;
}

.board-row {}

.board-el {
  height: 30px;
  text-align: center;
  font: 25px bold Impact, Charcoal, sans-serif;
}

.board-el p {
  height: 80%;

}

.mid-row {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.mid-col {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/********************* VICTORY STYLE ***********************/

.victory-banner {
  text-align: center;
  font: 20px bold Impact, Charcoal, sans-serif;
}
